*{
    color: #ececee;
    font-family: Roboto,'Open Sans','Helvetica Neue',sans-serif;
}


body{
    margin: 0;
    padding: 0;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  background: radial-gradient(circle at top center, #a020f0, #000000 70%);
}